html,
body,
h1,
h2,
h3,
h4 {
  font-family: "Lato", sans-serif
}

/*rating*/
.stars-outer {
  display: inline-block;
  position: relative;
  font-family: FontAwesome;
}

/*images*/
.carousel-item img {
  width: auto;
  height: 600px;
  max-height: 600px;
}

.stars-outer::before {
  content: "\f006 \f006 \f006 \f006 \f006";
}

.stars-inner {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
}

.stars-inner::before {
  content: "\f005 \f005 \f005 \f005 \f005";
  color: #f8ce0b;
}

/*radar chart*/
#radarChart {
  width: 600px;
  height: 400px;
  margin-top: 50px;
}

/*google maps*/
#map {
  width: 100%;
  height: 500px;
}

/*footer*/
.fa {
  cursor: pointer
}
