<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<head>
  <link rel="stylesheet" type="text/css" href="../static/css/create-listing.css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="../static/css/w3.css" />
  <link rel="stylesheet" type="text/css" href="../static/css/font-awesome.min.css" />
  <link rel="stylesheet" href="../static/css/datepicker.min.css">
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Lato" />
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
</head>

<body>
  <!-- header -->
  <div class="w3-top">
    <div class="w3-row w3-large w3-light-grey">
      <div class="w3-col s4">
        <a href="/" class="w3-button w3-block">Home</a>
      </div>
      {% if loggedIn %}
      <div class="w3-col s4">
        <a href="/" class="w3-button w3-block">Profile</a>
      </div>
      <div class="w3-col s4">
        <a href="/" class="w3-button w3-block">Logout</a>
      </div>
      {% else %}
      <div class="w3-col s4">
        <a href="/" class="w3-button w3-block">Register</a>
      </div>
      <div class="w3-col s4">
        <a href="/" class="w3-button w3-block">Login</a>
      </div>
      {% endif %}
    </div>
  </div>
  <!-- content -->
  <div class="w3-content" style="max-width:1100px;margin-top:80px;margin-bottom:80px">
    <h1 class="display-4" style="text-align: center;">
      <i class="fa fa-building-o" aria-hidden="true"></i>
      Create Listing
    </h1>
    <form id="listingForm" action="createListing" method="post">
      <div class="form-group">
        <label for="user">User</label>
        <div>
          <input class="form-control" type="text" placeholder="User" id="user" name="user" required>
        </div>
      </div>
      <div class="form-group">
        <label for="price">Price</label>
        <div class="form-group input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">€</span>
          </div>
          <input type="number" class="form-control" aria-label="Amount (to the nearest dollar)" id="price" name="price" required>
          <div class="input-group-append">
            <span class="input-group-text">.00</span>
          </div>
        </div>
      </div>
      <div class=" form-group">
        <label for="guests">Guests</label>
        <select class="form-control" id="guests" name="guests">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
          <option>6</option>
          <option>7</option>
          <option>8</option>
          <option>9</option>
        </select>
      </div>
      <div class="form-group">
        <label for="bedrooms">Bedrooms</label>
        <select class="form-control" id="bedrooms" name="bedrooms">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
        </select>
      </div>
      <div class="form-group">
        <label for="beds">Beds</label>
        <select class="form-control" id="beds" name="beds">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
        </select>
      </div>
      <div class="form-group">
        <label for="baths">Baths</label>
        <select class="form-control" id="baths" name="baths">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
        </select>
      </div>
      <div id="imagesForm" class="form-group">
        <label for="imageUpload">Upload image</label>
        <button id="newImageBtn" class="btn"><i class="fa fa-plus-square-o fa-2x"></i></button>
        <input type="file" class="form-control-file" id="imageUpload" aria-describedby="fileHelp" name="image">
      </div>
      <div id="amenitiesForm" class="form-group">
        <label for="amenities">Amenities</label>
        <button id="newAmenityBtn" class="btn"><i class="fa fa-plus-square-o fa-2x"></i></button>
        <div>
          <input class="form-control" type="text" placeholder="Amenity" id="amenities" name="amenities">
        </div>
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <textarea class="form-control" id="description" rows="3" name="description"></textarea>
      </div>
      <div class="form-group">
        <label for="location">Location</label>
        <button id="selectLocation" class="btn"><i class="fa fa-map-marker fa-2x"></i></button>
        <input type="hidden" name="lat" id="lat" value="42.666032" readonly="readonly" />
        <input type="hidden" name="lng" id="lng" value="23.373320" readonly="readonly" />
        <div id="map"></div>
      </div>
      <button id="submitForm" type="submit" class="btn btn-primary btn-lg btn-block">Submit</button>
    </form>
  </div>
  <!-- footer -->
  <footer class="w3-container w3-padding-32 w3-light-grey w3-center">
    <div class="w3-xlarge w3-section">
      <i class="fa fa-facebook-official w3-hover-opacity"></i>
      <i class="fa fa-instagram w3-hover-opacity"></i>
      <i class="fa fa-snapchat w3-hover-opacity"></i>
      <i class="fa fa-pinterest-p w3-hover-opacity"></i>
      <i class="fa fa-twitter w3-hover-opacity"></i>
      <i class="fa fa-linkedin w3-hover-opacity"></i>
    </div>
    <p>Powered by XPNCTO</p>
  </footer>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
  <script src="http://malsup.github.com/jquery.form.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script type="text/javascript" src="../static/lib/Chart.bundle.min.js"></script>
  <script type="text/javascript" src="../static/js/create-listing.js"></script>
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBdbRh892KJkBoUWIK46-E7oEnFh2fxDPc&libraries=places&callback">
  </script>
</body>

</html>
